#explicit

/.project
/.cproject
/.pydevproject
/config.log
/config.status
/doc/html
/doc/doxy.conf
/doc/doxygen-build.stamp
/src/parsemr
/examples/*.out
/matlab/matlab_build.stamp
/matlab/doc/*

#implicit

/matlab/+mr/codegen/*
/matlab/+mr/@Sequence/codegen/*
/matlab/+mr/@EventLibrary/codegen/*
*.mexa64
*.mexw64
*~
.*~
*.o
*.log
*.trs
*.asv
.deps/
Makefile

