#explicit

/.project
/.cproject
/.pydevproject
/config.log
/config.status
/doc/html
/doc/doxy.conf
/doc/doxygen-build.stamp
/examples/*.out
/matlab/matlab_build.stamp
/matlab/doc/*
/matlab/+mr/codegen/*

#implicit

*~
.*~
*.o
*.log
*.trs
*.asv
.deps/
Makefile

